// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";


body {
  padding-top: 50px;
  padding: 5em;
  background-color: #fcfcfc;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.item{
  padding: 20px;
}

.nav{
  justify-content: center;
}
