// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";



body {
  margin: 5px 10em;
  background-color: #fcfcfc;
}

h2 {
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

div.form-group {
  padding: 10px;
}

.item {
  padding: 20px;
  flex: 1;
}



.nav {
  justify-content: center;
  margin: 10px;
}

.btn {
  margin: 10px;
}